.breadcrumb {
  display: flex;
  list-style: none;

  .breadcrumb-item {
    padding: 0.2em 0.3em;
    border-right: #ccc 1px solid;
    border-top: #ccc 1px solid;
    border-bottom: #ccc 1px solid;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
  }
}