/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/*
  @todo Remove this then Angual's team fix mat-hint issues.
  @see https://github.com/angular/material2/issues/5227
*/
.mat-form-field {
  .mat-form-field-wrapper {
    padding-bottom: 1em;

    .mat-form-field-underline {
      position: initial !important;
      display: block;
      margin-top: -1px;
    }

    .mat-form-field-subscript-wrapper,
    .mat-form-field-ripple {
      position: initial !important;
      display: table;
    }

    .mat-form-field-subscript-wrapper {
      min-height: calc(1em + 1px);
    }
  }
}