.filter-area {
  display: flex;
  
  .fields {
    display: flex;
    flex-wrap: wrap;
  }

  .btn-clear {
    margin-top: 1.2em;
  }

  mat-form-field {
    margin: 0.5em;
  }
}

.mobile-filter {
  flex-direction: column;

  .fields {
    flex-direction: column;  
  }
}